	body{
    margin: 0;
    padding: 0;
    background: url(../images/bailarines.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

*{
	font-family: sans-serif;
	font-size: 12px;
	color: #030303;
}
body{
	width: 400px;
	margin: auto;
	background-color: #E2ECEE;
}


.imgRedonda {
    width:100px;
    height:100px;
    border-radius:150px;
    border:10px solid #666;
    text-align: center;
}
img{
display:block;
margin:auto;
}
.contacto{
	border: 1px solid #ffffff;
	border-radius: 6px;
	padding: 45px 45px 20px;
	margin-top: 50px;
	background-color: white;
	box-shadow: 0px 5px 10px #ffffff, 0 0 0 10px #ffffff inset;
}

.contacto label{
	display: block;
	font-weight: bold;
}
.contacto div{
	margin-bottom: 15px;
 
}
.contacto input[type='text'], .contacto input[type='number'], .contacto input[type='email'], .contacto textarea{
	padding: 7px 6px;
	width: 294px;
	border: 1px solid #CED5D7;
	resize: none;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
.radiobtn {
display: none;
}

.contacto input[type='password'], .contacto text{
	padding: 7px 6px;
	width: 294px;
	border: 1px solid #CED5D7;
	resize: none;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}


.boton {
   padding: 10px;
   background-color: #000 ; 
   color: #FFF; 
   text-decoration: none; 
   text-transform: uppercase; 
   font-family: 'Helvetica', sans-serif; 
   border-radius: 50px; 
}
.boton {
    margin: 0 auto;
    display: inline-block; 
}
.contacto input[type='text']:focus, .contacto textarea:focus{
	outline: none;
	box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
	border: 1px solid ;
	box-shadow:0 0 0 3px ;
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;

	background: #e4f1f6;
	background: -moz-linear-gradient(top, #1fa2d6 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #1fa2d6 0%,#cfe6ef 100%);
}


.contacto input[type='submit']:hover{
	background: #edfcff;
	background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
	background: #cfe6ef;
	background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
	background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);

}
